body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
  min-height: 100vh; /* ความสูงขั้นต่ำเท่ากับหน้าจอ */
}

.container {
  flex-grow: 1; /* ยืดพื้นที่ให้เต็มหน้าจอสำหรับเนื้อหา */
}

footer {
  background-color: #240C31;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.responsive-header {
  background-image: url('/public/headlogo.png'); /* รูปเริ่มต้น */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px; /* ปรับความสูงตามต้องการ */
  position: relative;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, black 60%, rgba(0, 0, 0, 0));
}

@media (max-width: 768px) {
  .responsive-header {
    background-image: url('/public/headlogosm.png'); /* รูปสำหรับหน้าจอเล็ก */
  }
  .profile-img {
    width: 40vw; /* ปรับให้ใหญ่ขึ้นในจอเล็ก */
  }
  
  .characters img {
    width: 20vw; /* ขยายขนาดตัวละครให้เหมาะสมกับจอมือถือ */
  }

  .text-section h1 {
    font-size: 1rem;
  }

  .social-btn {
    width: 22%; /* ขนาดปุ่มสำหรับหน้าจอใหญ่ (4 ปุ่มต่อแถว) */
    padding: 8px 10px; /* ลดขนาด padding เพื่อทำให้ปุ่มเล็กลง */
    font-size: 14px; /* ลดขนาดตัวอักษรลง */
}

.social-icon {
    width: 25px; /* ลดขนาดของไอคอนลงเพื่อให้พอดีกับปุ่มที่เล็กลง */
    height: 25px;
}
}

.content {
  padding: 2rem;
}

.profile-section {
  position: relative;
}

.profile-img {
  width: 85vw; /* ปรับให้เป็น 30% ของ viewport width */
  max-width: 700px; /* ขนาดสูงสุดที่ภาพจะถูกขยาย */
  border-radius: 50%;
  margin-bottom: 1rem;
}

.characters img {
  width: 15vw; /* ปรับขนาดของตัวละครเป็น 15% ของ viewport width */
  max-width: 60px;
  margin: 0 10px;
}

.text-section {
  margin: 2rem 0;
  color: aqua;
}
.text-section h1 {
  font-size: 1.2rem;
  color: #fff;
}

.social-icons {
  display: flex;
  flex-wrap: wrap; /* ให้ Flexbox จัดเรียงปุ่มเป็นหลายแถว */
  justify-content: center; /* จัดปุ่มให้อยู่ตรงกลาง */
  gap: 15px;
  
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(138, 43, 226, 0.08); /* สีม่วงอ่อนพร้อม opacity 50% */
  border: 1px solid #9061B4;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 10px;
  width: 45%; /* ขนาดของปุ่มครึ่งหนึ่งของแถว */
  box-sizing: border-box;
}

.social-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon {
  width: 30px;
  height: 30px;
}


